In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

# Import Google API Key.
from config import g_key

In [2]:
# Store cities.csv into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Talnakh,RU,2022-02-06 20:40:22,69.4865,88.3972,-27.58,99,55,1.16
1,1,Rindal,NO,2022-02-06 20:40:22,63.0565,9.2124,31.68,84,95,22.95
2,2,Kenscoff,HT,2022-02-06 20:40:23,18.4506,-72.2869,66.34,61,40,11.50
3,3,Faanui,PF,2022-02-06 20:40:23,-16.4833,-151.7500,81.55,75,100,20.65
4,4,Bandarbeyla,SO,2022-02-06 20:35:33,9.4942,50.8122,75.31,74,73,13.76

In [3]:
# Check the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the percent humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the percent cloudiness.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the wind speed.
wind_speed = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Faanui,PF,2022-02-06 20:40:23,-16.4833,-151.7500,81.55,75,100,20.65
4,4,Bandarbeyla,SO,2022-02-06 20:35:33,9.4942,50.8122,75.31,74,73,13.76
5,5,Rikitea,PF,2022-02-06 20:39:59,-23.1203,-134.9692,79.20,70,2,17.45
7,7,Port Elizabeth,ZA,2022-02-06 20:40:24,-33.9180,25.5701,77.09,78,0,12.66
8,8,Cockburn Town,TC,2022-02-06 20:38:17,21.4612,-71.1419,78.76,47,20,9.22
16,16,Tevaitoa,PF,2022-02-06 20:40:27,-16.7833,-151.5000,81.41,75,100,21.47
18,18,San Carlos De Bariloche,AR,2022-02-06 20:40:27,-41.1456,-71.3082,82.15,15,20,8.05
23,23,Kapaa,US,2022-02-06 20:40:29,22.0752,-159.3190,77.32,76,75,4.00
25,25,Pandan Niog,PH,2022-02-06 20:40:29,6.2282,120.5631,81.16,81,90,13.09
34,34,Cairns,AU,2022-02-06 20:39:30,-16.9167,145.7667,76.10,88,75,9.22

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [28]:
# Create a DataFrame for the data needed to create a heatmap and pop-up markers.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
3                    Faanui      PF     81.55 -16.4833 -151.7500
4               Bandarbeyla      SO     75.31   9.4942   50.8122
5                   Rikitea      PF     79.20 -23.1203 -134.9692
7            Port Elizabeth      ZA     77.09 -33.9180   25.5701
8             Cockburn Town      TC     78.76  21.4612  -71.1419
16                 Tevaitoa      PF     81.41 -16.7833 -151.5000
18  San Carlos De Bariloche      AR     82.15 -41.1456  -71.3082
23                    Kapaa      US     77.32  22.0752 -159.3190
25              Pandan Niog      PH     81.16   6.2282  120.5631
34                   Cairns      AU     76.10 -16.9167  145.7667

In [36]:
# Set parameters to serach for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Faanui,PF,81.55,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,Bandarbeyla,SO,75.31,9.4942,50.8122,JABIR HOTEL
5,Rikitea,PF,79.20,-23.1203,-134.9692,People ThankYou
7,Port Elizabeth,ZA,77.09,-33.9180,25.5701,39 On Nile Guest House
8,Cockburn Town,TC,78.76,21.4612,-71.1419,Osprey Beach Hotel
16,Tevaitoa,PF,81.41,-16.7833,-151.5000,Hôtel Raiatea Lodge
18,San Carlos De Bariloche,AR,82.15,-41.1456,-71.3082,Hotel Patagonia
23,Kapaa,US,77.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Pandan Niog,PH,81.16,6.2282,120.5631,
34,Cairns,AU,76.10,-16.9167,145.7667,Mantra Trilogy Cairns

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))